
@import 'all';

header {
  background-color: $color-gray-lightest;
  padding: 5px 0;
  font-size: 1.4rem;
}

footer {
  padding-top: 3.6rem;
  padding-bottom: 3.6rem;
  font-size: 1.3rem;
}

.headerRight {
  margin-top: 50px;
}

section {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;

  h1, h2, h3, h4, h5, h6 {
    color: $color-primary-darker;
  }
}

.section-alt {
  background-color:  $color-gray-lightest;
}


.section-dark {
  background-color:  $color-gray-dark;
  color: $color-white

  h1, h2, h3, h4, h5, h6 {
    color: $color-white;
  }
}

.capability-desc {
  margin-top: 2rem;
  margin-bottom: 2rem;

  h3 {
    margin-top: 0;
  }

  .thumbnail {
    height: 150px;
    width: 150px;
    display: inline-block;
  }

}

.catchSeparator {
  color: $color-secondary;
  margin: 0 1.5em;
}

.logo {
  height: 50px;
}

#jumbotron {
  background-color: $color-primary-darkest;
  color: $color-white;

  h1 {
    padding-top: 4.5rem;
  }

  h2 {
    font-size: 2rem;
    line-height: 1.7;
    font-weight: 300;
  }
}