
@import 'all';

.logo {
  border-bottom: none;

  img {
    max-width: 100%;
  }
}

/*
body {
  color: #fff;
  background: #2d3144;
}



section {
  padding-top: 7.2rem;
  padding-bottom: 7.2rem;

  h1, h2, h3, h4, h5, h6 {
    color: $color-gray;
  }

  h1 {
    letter-spacing: 3px;
    margin-top: 0;
  }
}

.capability-desc {
  margin-top: 2rem;
  margin-bottom: 2rem;

  h3 {
    margin-top: 0;
  }

  .thumbnail {
    margin-left: auto;
    margin-right: auto;
  }

}

.catchSeparator {
  color: $color-secondary;
  margin: 0 1.5rem;
}

.logo {
  height: 50px;
}

.partner-logo {
  max-height: 10rem;
  margin: 2.5rem 0;
}

h1 {
  text-transform: uppercase;
}



.staff-profile {

  margin-bottom: 3rem;

  img {
    width: 100%;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: .1rem 0;
  }

  h3 {
    font-size: 1.25rem;
  }

}*/
