{% set title = "OneGlobe - Contact Us" %}
{% extends "layout.njk" %}

{% block content %}
<div class="container-fluid" id="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>CONTACT US</h1>
            </div>
        </div>
    </div>
</div>


<section class="container-fluid">
    <div class="container">
        <h1>Careers</h1>
        <div class="row">
            <div class="col-xs-12">
                <h3>Join us.  Kick ass.</h3>
                <div class="row">
                    <div class="col-sm-6">
                        <p>We&apos;re always on the lookout for the most driven and passionate technical team members.  Our teams are made up of engineers that have the talent, aptitude, and mindset to take on the most challenging problems facing our world today.</p>
                        <p>We offer market-leading compensation with a structure that encourages independence, growth, and initiatve across our teams.  No TPS reports.  No artificial targets.  No BS.</p>
                    </div>
                    <div class="col-sm-6 text-center">
                        <p>
                            Think practically.<br/>
                            Think efficiently.<br/>
                            Solve real problems.<br/>
                            Sound good?<br/>
                        </p>
                        <p><a href="mailto:jobs@oneglobeit.com" class="usa-button usa-button-big usa-button-outline-inverse" >Apply</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}