{% set title = "OneGlobe" %}
{% extends "layout.njk" %}

{% block content %}
<div id="wrapper">
  <section id="intro" class="wrapper fullscreen">
    <div class="inner">
      <div class="logo"><img src="/img/oneglobe.svg" alt="OneGlobe logo" /></div>
      <h1>Building the systems you imagine</h1>
      <p>Celebrating a decade of helping our customers realize their visions through technology.</p>
    </div>
    <div class="notice clearfix"><h3>OneGlobe Joins the AWS Partner Network</h3> <a href="#" class="button submit">Read More &gt;</a></div>
  </section>
  <section id="work" class="wrapper">
    <div class="inner">
      <h1>What We Do</h1>
      <p>OneGlobe provides innovative software engineering, architecture, and IT consulting services to federal and commercial customers.  Our engineers engage at all levels from strategy to execution.  We create solutions using modern approaches to agile, devops, security, big data, and the cloud.  We use these practices to solve problems and deliver outstanding mission success for our customers.</p>
      <h3>Agile Software Development</h3>
      <p>We deliver value to our customers by using proven agile techniques and methodologies.   With a practical approach, we keep the focus on what really matters:  collaboratively delivering high quality software that meets your needs.  We recognize that agile delivery requires discipilne as well as flexibility, and can help our customers transition heavyweight processes and systems to more agile, adaptive models.</p>
      <p>Quality is at the core of everything we do.  Our focus on automated continous delivery, testing, and improvement ensures that we are not only delivering, but delivering with high quality in a repeatable, rock-solid manner.</p>
      <h3>Cloud Platforms</h3>
      <p>We build systems that leverage today&apos;s scalable cloud platforms. We define our infrastructure as code and use bundled, efficient cloud services where it makes sense.  Our architecture and transition teams can help outline cloud strategies and migration plans to move even the most complex systems to cloud or hybrid platforms. OneGlobe is a member of the AWS Partner Network.</p>
      <h3>Data Engineering</h3>
      <p>No matter the size or shape of your data, we can help put it to work for you.  We build secure and flexible big data platforms, analyitics and visualization engines, and data distribution hubs that take the risk out of data management.</p>
      <h3>Integration Services</h3>
      <p>OneGlobe engineers implement software integrations across a variety of disciplines.  Our experts are able to deliver solutions that help our customers leverage the latest technology, packages, and platforms.</p>
      <ul>
        <li>Business Process and Rules Management</li>
        <li>Identity, Credentials, and Access Management</li>
        <li>Salesforce and CRM</li>
      </ul>
<!--
      <div class="features">
        <section>
          <h3>Agile Software Development</h3>
          <p>
              We provide value to our customers by developing software the most efficient way possible using proven agile techniques and methodologies.   With a practical approach, we keep the focus on what really matters:  collaboratively delivering high quality software that meets your needs.
          </p>
        </section>
        <section>
          <h3>Cloud Architecture &amp; Development</h3>
          <p>
              OneGlobe employs highly-skilled architects with hands-on experience using all of the major cloud providers.  We can help you plan the right solution for your organization from cloud, on-premise, or hybrid, and deliver the systems to meet your needs.
          </p>
        </section>
        <section>
          <h3>IT Architecture</h3>
          <p>
              Information Technology Architecture and data flows are some of OneGlobe&apos;s core service offerings.  We handle IT Architecture at all levels of an organization:  business, enterprise, system, solution, data, application, software, infrastructure, service, cloud, AWS, Salesforce and more.
          </p>
        </section>
        <section>
          <h3>Amazon Web Services</h3>
          <p>
              Our AWS Certified Solution Architects will determine the right solutions to meet your organization&apos;s architecture, security, development, optimization, monitoring, and application services challenges.  Whether it&apos;s cloud-first or a hybrid footprint, custom-developed or AWS service-based, OneGlobe can efficiently and expertly implement your needs using AWS.
          </p>
        </section>
        <section>
          <h3>DevOps Engineering</h3>
          <p>
              Not just a buzz word, but the way we do business.  On-premise and in the cloud, we automate and coordinate your continuous development, integration, and delivery practices to deliver value to you faster.
          </p>
        </section>
        <section>
          <h3>Business Process Management</h3>
          <p>
              At the heart of all organizations are the processes they perform.  We can help to define, model, and implement those processes using the latest BPM software tools while meeting audit, monitoring and reporting requirements with the best user interface possible.
          </p>
        </section>
        <section>
          <h3>Salesforce Implementation</h3>
          <p>
              Harness the power of Salesforce using our certified Salesforce Developers to help you configure solutions out of the box, and customize as needed.  Our architects and developers can integrate your existing processes into a full-featured Salesforce application.
          </p>
        </section>
        <section>
          <h3>Identity &amp; Access Management</h3>
          <p>
              We deliver identity and access management solutions that support attribute-based, role-based, and policy-based access control systems.  We protect enterprise data and systems to meet the security, governance, and audit requirements of today&apos;s operational environments.
          </p>
        </section>
      </div>
-->
      <h2>Technology Partners</h2>
      <p>We work with a variety of vendors and technology providers to ensure that we can leverage their platforms to the fullest for our customers. Our expertise is recognized through membership in partner programs.</p>
      <div class="clearfix">
        <div class="partner-logo">
            <img src="/img/aws-partner-1.svg" />
        </div>
        <div class="partner-logo">
            <img src="/img/hortonworks.png" />
        </div>
        <div class="partner-logo">
            <img src="/img/Salesforce.svg" />
        </div>
        <div class="partner-logo"><br />
            <img src="/img/NewRelic-logo-bug.svg" />
        </div>
      </div>
    </div>
  </section>
  <hr />
  <section id="about" class="wrapper style3">
    <div class="inner">
      <h1>Who We Are</h1>
      <p>We&apos;re software engineers, architects, and consultants.  We&apos;re multi-talented, customer-focused, and people-centric.  We care about our customers and their missions, and we make it a point to bring the best possible solutions.  We&apos;re good at what we do.  OneGlobe is a small business founded in 2007 and is based in Ashburn, VA.</p>
      <h2>Meet the team</h2>
      <section class="style2 spotlights">
        <section>
          <div class="content">
            <div class="inner">
              <h3>Bobby Peterson</h3>
              <h4>Managing Partner</h4>
              <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
              <a href="https://www.linkedin.com/in/oneglobebobby" target="_blank">LinkedIn</a>
            </div>
          </div>
          <div class="image"><img src="/img/bobby.jpg" alt="Bobby Peterson" data-position="center center" /></div>
        </section>
        <section>
          <div class="content">
            <div class="inner">
              <h3>Mike Harrison</h3>
              <h4>Managing Partner</h4>
              <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
              <a href="https://www.linkedin.com/in/oneglobemike" target="_blank">LinkedIn</a>
            </div>
          </div>
          <div class="image"><img src="/img/mike.jpg" alt="Mike Harrison" data-position="center center" /></div>
        </section>
        <section>
          <div class="content">
            <div class="inner">
              <h3>Matt Nuss</h3>
              <h4>Director of Engineering</h4>
              <p>As Director of Engineering at OneGlobe, Matt helps build technical competencies and set solution direction.  He has over 20 years of experience leading, designing, and delivering technical solutions in the commercial and federal spaces. Matt couples a deep technical aptitude with a passion for learning, common sense, and problem solving. He guides our customers and teams toward efficient solutions that fit their specific needs while building on best practices in software engineering, data management, and the cloud.</p>
              <a href="https://www.linkedin.com/in/matt-nuss-a1a11a2" target="_blank">LinkedIn</a>
            </div>
          </div>
          <div class="image"><img src="/img/matt.jpg" alt="Matt Nuss" data-position="center center" /></div>
        </section>
      </section>
    </div>
  </section>
  <hr />
  <section id="customers" class="wrapper">
    <div class="inner">
      <h1>Our Customers</h1>
      <p>
          We solve the problems that matter most to our customers while taking a practical, innovative, and efficient approach to everything we do.  From the smallest projects to the most transformative, impactful programs, we help drive the best outcomes across domains.
      </p>

      <section>
          <h3>National Security</h3>
          <p>
              We service the intelligence, defense, and homeland security communities across multiple agencies.  Our solutions help to enable the most critical components that keep the United States safe and secure.
          </p>
      </section>
      <section>
          <h3>Federal Civilian</h3>
          <p>
              Building the federal services and infrastructure that support each of us every single day requires the best possible engineering teams.  From hands-on execution to architecture and planning, we bring the practical, cost-effective solutions that keep us moving toward the future.
          </p>
      </section>
      <section>
          <h3>Commercial Partners</h3>
          <p>
              Our business partners come in all shapes and sizes from small business to large system integrators.  Our knowledgable, senior technical staff bring expert support to proposal, capture, strategy, and teaming opportunities.
          </p>
      </section>
      <h2>Contracts</h2>
      <p>
          OneGlobe services are available directly through the following contract vehicles:
      </p>
      <h3>
          GSA Multiple Award Schedule 70<br />
          Information Technology Professional Services
      </h3>
      <table>
        <tbody>
          <tr>
              <th>Contract Number:</th>
              <td>GS-35F-306DA</td>
          </tr>
          <tr>
              <th>Contract Type:</th>
              <td>MAS</td>
          </tr>
          <tr>
              <th>Customer Agencies:</th>
              <td>US Federal, State and Local Governments</td>
          </tr>
          <tr>
              <th>Ceiling:</th>
              <td>Unlimited</td>
          </tr>
          <tr>
              <th>Period of Performance:</th>
              <td>May 11, 2016, through May 10, 2021 plus options</td>
          </tr>
          <tr>
              <th>Link:</th>
              <td><a href="https://www.gsaadvantage.gov/ref_text/GS35F306DA/0PL561.3B2VTI_GS-35F-306DA_ONEGLOBEPRICELIST.PDF">GSA Advantage</a></td>
          </tr>
        </tbody>
      </table>

      <p>
        OneGlobe services are also available through our strategic partners on the following vehicles:<br />
        <strong>DHS EAGLE II, DHS ESDO, DHS ICATTS, NIH-CIO SP3</strong>
      </p>
    </div>
  </section>
  <hr />
  <section id="careers" class="wrapper">
    <div class="inner">
      <h1>Careers</h1>
      <h3>Join us.  Kick ass.</h3>
      <p>We&apos;re always on the lookout for the most driven and passionate technical team members.  Our teams are made up of engineers that have the talent, aptitude, and mindset to take on the most challenging problems facing our world today.</p>
      <p>We offer market-leading compensation with a structure that encourages independence, growth, and initiatve across our teams.  No TPS reports.  No artificial targets.  No BS.</p>
      <p>
          Think practically.<br/>
          Work efficiently.<br/>
          Solve real problems.<br/>
          Sound good?<br/>
      </p>
      <ul class="actions">
        <li><a href="mailto:jobs@oneglobeit.com" class="button">Apply</a></li>
      </ul>
    </div>
  </section>
  <hr />
  <section id="contact" class="wrapper style1">
    <div class="inner">
      <h1>Contact Us</h1>
      <p>Ready to turn your vision into reality? Contact us to get started.</p>
      <div class="split style1">
        <section>
          <form method="post" action="#">
            <div class="field half first">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="5"></textarea>
            </div>
            <ul class="actions">
              <li><a href="" class="button submit">Send Message</a></li>
            </ul>
          </form>
        </section>
        <section>
          <ul class="contact">
            <li>
              <h3>Address</h3>
              <span>20552 Wild Meadow Ct<br />
              Ashburn, VA 20147<br />
              USA</span>
            </li>
            <li>
              <h3>Email</h3>
              <a href="mailto:info@oneglobeit.com">info@oneglobeit.com</a>
            </li>
            <li>
              <h3>Phone</h3>
              <span>(703)850-0062</span>
            </li>
            <li>
              <h3>Social</h3>
              <ul class="icons">
                <li><a href="https://www.facebook.com/oneglobeit" title="OneGlobe on Facebook" target="_blank">
                    <img src="/img/FB-f-Logo__blue_29.png" alt="Facebook Logo" />
                </a>
                <a href="https://www.linkedin.com/company/oneglobe-llc" title="OneGlobe on LinkedIn" target="_blank">
                    <img src="/img/In-2C-28px-R.png" alt="LinkedIn Logo" />
                </a></li>
                <!-- <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li> -->
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>
</div>
{% endblock %}
