{% set title = "OneGlobe" %}
{% extends "layout.njk" %}

{% block content %}
<div id="wrapper">
  <section id="intro" class="wrapper fullscreen">
    <div class="inner">
      <h1>Building the systems you imagine</h1>
      <p>Celebrating a decade of helping our customers realize their visions through technology.</p>
      <ul class="actions">
        <li><a href="#one" class="button scrolly">Learn more</a></li>
      </ul>
    </div>
  </section>

  <section id="one" class="wrapper style2 spotlights">
    <section>
      <a href="https://www.linkedin.com/in/oneglobebobby" target="_blank" class="image"><img src="/img/bobby_profile.jpg" alt="Bobby Peterson" data-position="center center" /></a>
      <div class="content">
        <div class="inner">
          <h2>Bobby Peterson</h2>
          <h3>Managing Partner</h3>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="https://www.linkedin.com/in/oneglobemike" target="_blank" class="image"><img rc="/img/mike_profile.jpg" alt="Mike Harrison" data-position="top center" /></a>
      <div class="content">
        <div class="inner">
          <h2>Mike Harrison</h2>
          <h3>Managing Partner</h3>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
    <section>
      <a href="https://www.linkedin.com/in/matt-nuss-a1a11a2" target="_blank" class="image"><img src="/img/matt_profile.jpg" alt="Matt Nuss" data-position="25% 25%" /></a>
      <div class="content">
        <div class="inner">
          <h2>Matt Nuss</h2>
          <h3>Director of Engineering</h3>
          <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus.</p>
          <ul class="actions">
            <li><a href="#" class="button">Learn more</a></li>
          </ul>
        </div>
      </div>
    </section>
  </section>

  <section id="two" class="wrapper style3">
    <div class="inner">
      <h2>Capabilities</h2>
      <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
      <div class="features">
        <section>
          <span class="icon major fa-code"></span>
          <h3>Agile Software Development</h3>
          <p>
              We provide value to our customers by developing software the most efficient way possible using proven agile techniques and methodologies.   With a practical approach, we keep the focus on what really matters:  collaboratively delivering high quality software that meets your needs.
          </p>
        </section>
        <section>
          <span class="icon major fa-lock"></span>
          <h3>Cloud Architecture &amp; Development</h3>
          <p>
              OneGlobe employs highly-skilled architects with hands-on experience using all of the major cloud providers.  We can help you plan the right solution for your organization from cloud, on-premise, or hybrid, and deliver the systems to meet your needs.
          </p>
        </section>
        <section>
          <span class="icon major fa-cog"></span>
          <h3>IT Architecture</h3>
          <p>
              Information Technology Architecture and data flows are some of OneGlobe&apos;s core service offerings.  We handle IT Architecture at all levels of an organization:  business, enterprise, system, solution, data, application, software, infrastructure, service, cloud, AWS, Salesforce and more.
          </p>
        </section>
        <section>
          <span class="icon major fa-desktop"></span>
          <h3>Amazon Web Services</h3>
          <p>
              Our AWS Certified Solution Architects will determine the right solutions to meet your organization&apos;s architecture, security, development, optimization, monitoring, and application services challenges.  Whether it&apos;s cloud-first or a hybrid footprint, custom-developed or AWS service-based, OneGlobe can efficiently and expertly implement your needs using AWS.
          </p>
        </section>
        <section>
          <span class="icon major fa-chain"></span>
          <h3>DevOps Engineering</h3>
          <p>
              Not just a buzz word, but the way we do business.  On-premise and in the cloud, we automate and coordinate your continuous development, integration, and delivery practices to deliver value to you faster.
          </p>
        </section>
        <section>
          <span class="icon major fa-diamond"></span>
          <h3>Business Process Management</h3>
          <p>
              At the heart of all organizations are the processes they perform.  We can help to define, model, and implement those processes using the latest BPM software tools while meeting audit, monitoring and reporting requirements with the best user interface possible.
          </p>
        </section>
        <section>
          <span class="icon major fa-diamond"></span>
          <h3>Salesforce Implementation</h3>
          <p>
              Harness the power of Salesforce using our certified Salesforce Developers to help you configure solutions out of the box, and customize as needed.  Our architects and developers can integrate your existing processes into a full-featured Salesforce application.
          </p>
        </section>
        <section>
          <span class="icon major fa-diamond"></span>
          <h3>Identity &amp; Access Management</h3>
          <p>
              We deliver identity and access management solutions that support attribute-based, role-based, and policy-based access control systems.  We protect enterprise data and systems to meet the security, governance, and audit requirements of today&apos;s operational environments.
          </p>
        </section>
      </div>
      <ul class="actions">
        <li><a href="#" class="button">Learn more</a></li>
      </ul>
    </div>
  </section>

  <section id="four" class="wrapper style4">
    <div class="inner">
      <h2>Partners</h2>
      <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
      <div class="">
          <img src="/img/aws-partner-1.svg" class="partner-logo" />
      </div>
      <div class="">
          <img src="/img/hortonworks.png" class="partner-logo" />
      </div>
      <div class="">
          <img src="/img/Salesforce.svg" class="partner-logo" />
      </div>
      <div class="">
          <img src="/img/NewRelic-logo-bug.svg" class="partner-logo" />
      </div>
      <ul class="actions">
        <li><a href="#" class="button">Learn more</a></li>
      </ul>
    </div>
  </section>

<!-- Three -->
  <section id="three" class="wrapper style1 fade-up">
    <div class="inner">
      <h2>Contact Us</h2>
      <p>Phasellus convallis elit id ullamcorper pulvinar. Duis aliquam turpis mauris, eu ultricies erat malesuada quis. Aliquam dapibus, lacus eget hendrerit bibendum, urna est aliquam sem, sit amet imperdiet est velit quis lorem.</p>
      <div class="split style1">
        <section>
          <form method="post" action="#">
            <div class="field half first">
              <label for="name">Name</label>
              <input type="text" name="name" id="name" />
            </div>
            <div class="field half">
              <label for="email">Email</label>
              <input type="text" name="email" id="email" />
            </div>
            <div class="field">
              <label for="message">Message</label>
              <textarea name="message" id="message" rows="5"></textarea>
            </div>
            <ul class="actions">
              <li><a href="" class="button submit">Send Message</a></li>
            </ul>
          </form>
        </section>
        <section>
          <ul class="contact">
            <li>
              <h3>Address</h3>
              <span>20552 Wild Meadow Ct<br />
              Ashburn, VA 20147<br />
              USA</span>
            </li>
            <li>
              <h3>Email</h3>
              <a href="mailto:info@oneglobeit.com">info@oneglobeit.com</a>
            </li>
            <li>
              <h3>Phone</h3>
              <span>(703)850-0062</span>
            </li>
            <li>
              <h3>Social</h3>
              <ul class="icons">
                <li><a href="#" class="fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="fa-facebook"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="fa-github"><span class="label">GitHub</span></a></li>
                <li><a href="#" class="fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="fa-linkedin"><span class="label">LinkedIn</span></a></li>
              </ul>
            </li>
          </ul>
        </section>
      </div>
    </div>
  </section>

  <section class="container-fluid section-alt">
      <div class="container">
          <h1>Capabilities</h1>
          <div class="row">
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/agile.gif" alt="Agile Software Development"></a>
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/cloud.gif" alt="Cloud Architecture and Development">
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/architecture.gif" alt="IT Architecture">
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/aws.gif" alt="Amazon Web Services"></a>
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/gears.gif" alt="DevOps Engineering">
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/bpm.gif" alt="Business Process Management">
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/salesforce.gif" alt="Salesforce Implementation">
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
              <div class="col-md-6 capability-desc">
                  <div class="row">
                      <div class="col-sm-4">
                          <img class="thumbnail" src="img/security.gif" alt="Identity and Access Management">
                      </div>
                      <div class="col-sm-8">

                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>


  <section class="container-fluid section-alt">
      <div class="container">
          <h1>Contracts</h1>
          <div class="row">
              <div class="col-xs-12">
                  <p>
                      OneGlobe services are available through the following contract vehicles either directly or through our strategic partnerships
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-6">
                  <h3>
                      GSA Multiple Award Schedule 70<br />
                      Information Technology Professional Services
                  </h3>
                  <table class="usa-table table-condensed usa-table-borderless">
                      <tr>
                          <td>Contract Number:</td>
                          <td>GS-35F-306DA</td>
                      </tr>
                      <tr>
                          <td>Contract Type:</td>
                          <td>MAS</td>
                      </tr>
                      <tr>
                          <td>Customer Agencies:</td>
                          <td>US Federal, State and Local Governments</td>
                      </tr>
                      <tr>
                          <td>Ceiling:</td>
                          <td>Unlimited</td>
                      </tr>
                      <tr>
                          <td>Period of Performance:</td>
                          <td>May 11, 2016, through May 10, 2021 plus options</td>
                      </tr>
                      <tr>
                          <td>Link:</td>
                          <td><a href="https://www.gsaadvantage.gov/ref_text/GS35F306DA/0PL561.3B2VTI_GS-35F-306DA_ONEGLOBEPRICELIST.PDF">GSA Advantage</a></td>
                      </tr>
                  </table>
              </div>
              <div class="col-sm-6">
                  <h3>DHS EAGLE II</h3>
              </div>
              <div class="col-sm-6">
                  <h3>DHS ESDO</h3>
              </div>
              <div class="col-sm-6">
                  <h3>DHS ICATTS</h3>
              </div>
              <div class="col-sm-6">
                  <h3>NIH-CIO SP3</h3>
              </div>
          </div>


      </div>
  </section>
  <section class="container-fluid">
      <div class="container">
          <h1>Customers</h1>
          <div class="row">
              <div class="col-xs-12">
                  <p>
                      We solve the problems that matter most to our customers while taking a practical, innovative, and efficient approach to everything we do.  From the smallest projects to the most transformative, impactful programs, we help drive the best outcomes across a varied set of domains.
                  </p>
              </div>
          </div>
          <div class="row">
              <div class="col-sm-4">
                  <h2>National Security</h2>
                  <p>
                      We service the intelligence, defense, and homeland security communities across multiple agencies.  Our solutions and systems help to enable the most critical components that keep the United States safe and secure.
                  </p>
              </div>
              <div class="col-sm-4">
                  <h2>Federal Civilian</h2>
                  <p>
                      Building the federal service applications and infrastructure that supports each of us every single day requires the best possible engineering teams.  From hands-on execution to architecture and planning, we bring the practical, cost-effective solutions that keep us moving toward the future.
                  </p>
              </div>
              <div class="col-sm-4">
                  <h2>Commercial Partners</h2>
                  <p>
                      Our business partners come in all shapes and sizes, from small business to large system integrators.  Our knowledgable, senior technical staff bring expert support to proposal, capture, strategy, and teaming opportunities.
                  </p>
              </div>
          </div>
      </div>
  </section>

  <section class="container-fluid section-dark">
      <div class="container">
          <h1>Careers</h1>
          <div class="row">
              <div class="col-xs-12">
                  <h3>Join us.  Kick ass.</h3>
                  <div class="row">
                      <div class="col-sm-6">
                          <p>We&apos;re always on the lookout for the most driven and passionate technical team members.  Our teams are made up of engineers that have the talent, aptitude, and mindset to take on the most challenging problems facing our world today.</p>
                          <p>We offer market-leading compensation with a structure that encourages independence, growth, and initiatve across our teams.  No TPS reports.  No artificial targets.  No BS.</p>
                      </div>
                      <div class="col-sm-6 text-center">
                          <p>
                              Think practically.<br/>
                              Work efficiently.<br/>
                              Solve real problems.<br/>
                              Sound good?<br/>
                          </p>
                          <p><a href="mailto:jobs@oneglobeit.com" class="usa-button usa-button-big usa-button-outline-inverse" >Apply</a></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
</div>
{% endblock %}
