{% set title = "OneGlobe" %}
{% extends "layout.njk" %}

{% block content %}
<div class="container-fluid" id="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Building the systems you imagine</h1>
                <h2>Celebrating a decade of helping our customers realize their visions through technology.</h2>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="container">
        <h1>Introduction</h1>
        <p>
            S-S-Samantha. Lemme hear everybody say hey-yo! All the ladies say yeaaah! Everybody over thirty do this with your hand! Everybody with a red shirt jump up and down! Yo, everyone whose first name begins with an L who isn't hispanic, walk in a circle the same number of times as the square root of your age times teeenn! I wish that shotgun was my penis. Oh I say good sir, oh harumph, ohh a bope-a-dope-o-bobo.
        </p>
        <p>
            Awww, it's you guys! Yea and I made the stars that became the carbon in your mothers ovaries! I mean, why would a poptart want to live inside a toaster, Rick? I mean, that would be like the scariest place for them to live. You know what I mean? Wha, me irresponsible ?! All I wanted you to do was to hand me a screwdriver, Morty!
        </p>
    </div>
</section>

<section class="container-fluid section-alt">
    <div class="container">
        <h1>Engineering</h1>
        <div class="row">
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <img src="img/agile.gif" alt="Agile" />
                <h2>Agile</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <img src="img/gears.gif" alt="DevOps">
                <h2>DevOps</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <img src="img/cloud.gif" alt="Cloud">
                <h2>Cloud</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <img src="img/agile.gif" alt="Data" />
                <h2>Data</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <img src="img/security.gif" alt="Identity and Access Management">
                <h2>Identity</h2>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-12 text-center">
                <img src="img/bpm.gif" alt="Business Process Management">
                <h2>BPM</h2>
            </div>
        </div>
    </div>
</section>


{% endblock %}