{% set title = "OneGlobe - About" %}
{% extends "layout.njk" %}

{% block content %}
<div class="container-fluid" id="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Delivering Value</h1>
                <h2>About Us tagline goes here</h2>
            </div>
        </div>
    </div>
</div>


<section class="container-fluid">
    <div class="container">
        <h1>About Us</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Proin non nisl felis. Maecenas tempor commodo nisi vel commodo. Vivamus blandit venenatis ornare. Curabitur pretium tempor nisl, nec hendrerit tellus facilisis sodales. Aenean nisi leo, pulvinar eu tristique nec, luctus a sapien. Praesent vel sapien massa. Curabitur mollis, est sed maximus.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>Founded on xyz principles?</h3>
            </div>
            <div class="col-sm-6">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc ut odio nec quam sollicitudin semper. Nullam malesuada velit urna, et pellentesque augue egestas a. Curabitur iaculis, orci vel sagittis pharetra, nunc est rhoncus quam, et accumsan arcu nisl sed nibh. Quisque efficitur scelerisque condimentum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Praesent varius est lorem, cursus consequat felis consequat eget. Donec nunc dolor, pellentesque sit amet neque ut, dapibus dictum justo. Morbi quam ante, ornare eget placerat eu, molestie sit amet erat. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas porttitor lectus quis nulla posuere molestie.
                </p>
                <p>
                    Proin non nisl felis. Maecenas tempor commodo nisi vel commodo. Vivamus blandit venenatis ornare. Curabitur pretium tempor nisl, nec hendrerit tellus facilisis sodales. Aenean nisi leo, pulvinar eu tristique nec, luctus a sapien. Praesent vel sapien massa. Curabitur mollis, est sed maximus.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="container-fluid section-alt">
    <div class="container">
        <h1>Customers</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    We solve the problems that matter most to our customers while taking a practical, innovative, and efficient approach to everything we do.  From the smallest projects to the most transformative, impactful programs, we help drive the best outcomes across a varied set of domains.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>National Security</h2>
                <p>
                    We service the intelligence, defense, and homeland security communities across multiple agencies.  Our solutions and systems help to enable the most critical components that keep the United States safe and secure.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Federal Civilian</h2>
                <p>
                    Building the federal service applications and infrastructure that supports each of us every single day requires the best possible engineering teams.  From hands-on execution to architecture and planning, we bring the practical, cost-effective solutions that keep us moving toward the future.
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Commercial Partners</h2>
                <p>
                    Our business partners come in all shapes and sizes, from small business to large system integrators.  Our knowledgable, senior technical staff bring expert support to proposal, capture, strategy, and teaming opportunities.
                </p>
            </div>
        </div>
    </div>
</section>


<section class="container-fluid">
    <div class="container">
        <h1>Leadership</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    Experienced technical and business leadership
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h2>Bobby Peterson</h2>
                <p>
                    Bobby stuff
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Mike Harrison</h2>
                <p>
                    Mike Stuff
                </p>
            </div>
            <div class="col-sm-4">
                <h2>Matt Nuss</h2>
                <p>
                    Matt Stuff
                </p>
            </div>
        </div>
    </div>
</section>

{% endblock %}