{% set title = "OneGlobe - About" %}
{% extends "layout.njk" %}

{% block content %}
<div class="container-fluid" id="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Delivering Value</h1>
                <h2>Customer tagline goes here</h2>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="container">
        <h1>Customers</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    We solve the problems that matter most to our customers while taking a practical, innovative, and efficient approach to everything we do.  From the smallest projects to the most transformative, impactful programs, we help drive the best outcomes across a varied set of domains.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <h3>National Security</h3>
                <p>
                    We service the intelligence, defense, and homeland security communities across multiple agencies.  Our solutions and systems help to enable the most critical components that keep the United States safe and secure.
                </p>
            </div>
            <div class="col-sm-4">
                <h3>Federal Civilian</h3>
                <p>
                    Building the federal service applications and infrastructure that supports each of us every single day requires the best possible engineering teams.  From hands-on execution to architecture and planning, we bring the practical, cost-effective solutions that keep us moving toward the future.
                </p>
            </div>
            <div class="col-sm-4">
                <h3>Commercial Partners</h3>
                <p>
                    Our business partners come in all shapes and sizes, from small business to large system integrators.  Our knowledgable, senior technical staff bring expert support to proposal, capture, strategy, and teaming opportunities.
                </p>
            </div>
        </div>

    </div>
</section>
{% endblock %}