{% set title = "OneGlobe - Contracts" %}
{% extends "layout.njk" %}

{% block content %}
<div class="container-fluid" id="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Let&apos;s get to work</h1>
                <h2>OneGlobe service vehicles</h2>
            </div>
        </div>
    </div>
</div>

<section class="container-fluid">
    <div class="container">
        <h1>Contracts</h1>
        <div class="row">
            <div class="col-xs-12">
                <p>
                    OneGlobe services are available on the following contract vehicles or through our strategic teaming partnerships:
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-9">
                <h3 class="row">
                    <div class="col-xs-9">
                        GSA Multiple Award Schedule 70<br />
                        Information Technology Professional Services
                    </div>
                    <div class="col-xs-3 text-right">
                        <img src="/img/Schedule_StarMark_color_generic.jpg"/>
                    </div>
                </h3>
                <table class="usa-table table-condensed usa-table-borderless">
                    <tr>
                        <td>Contract Number:</td>
                        <td>GS-35F-306DA</td>
                    </tr>
                    <tr>
                        <td>Contract Type:</td>
                        <td>MAS</td>
                    </tr>
                    <tr>
                        <td>Customer Agencies:</td>
                        <td>US Federal, State and Local Governments</td>
                    </tr>
                    <tr>
                        <td>Ceiling:</td>
                        <td>Unlimited</td>
                    </tr>
                    <tr>
                        <td>Period of Performance:</td>
                        <td>May 11, 2016, through May 10, 2021 plus options</td>
                    </tr>
                    <tr>
                        <td>Link:</td>
                        <td><a href="https://www.gsaadvantage.gov/ref_text/GS35F306DA/0PL561.3B2VTI_GS-35F-306DA_ONEGLOBEPRICELIST.PDF">GSA Advantage</a></td>
                    </tr>

                </table>
            </div>
        </div>

    </div>
</section>
{% endblock %}