
<footer class="container-fluid">
    <div class="container">
        <div class="row">

            <div class="col-md-6 text-center">
                <a href="mailto:info@oneglobeit.com">info@oneglobeit.com</a><br />
                <a href="mailto:jobs@oneglobeit.com">jobs@oneglobeit.com</a>
            </div>
            <div class="col-md-6 text-center">
                703-850-0062<br />
                20552 Wild Meadow Ct, Ashburn, VA 20147
            </div>
        </div>
    </div>
</footer>