<footer id="footer" class="wrapper style1-alt">
  <div class="inner">
    <ul class="menu">
      <li>&copy; 2016 OneGlobe, LLC. All rights reserved.</li><li><a href="https://www.facebook.com/oneglobeit" title="OneGlobe on Facebook" target="_blank">
          <img src="/img/FB-f-Logo__blue_29.png" alt="Facebook Logo" />
      </a>
      <a href="https://www.linkedin.com/company/oneglobe-llc" title="OneGlobe on LinkedIn" target="_blank">
          <img src="/img/In-2C-28px-R.png" alt="LinkedIn Logo" />
      </a></li>
    </ul>
  </div>
</footer>
