
<header class="container-fluid">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-xs-12">
                <img class="logo" src="/img/logo.png" alt="OneGlobe logo" /><br />
                <div class="tagline">Strategy <span class="catchSeparator">|</span> Technology <span class="catchSeparator">|</span> Execution</div>

            </div>
            <div class="col-xs-6 text-right hidden-xs">
                <ul class="list-unstyled list-inline" id="navList">
                    <li><a href="/software">Software</a></li>
                    <li><a href="/cloud">Cloud</a></li>
                    <li><a href="/partners">Partners</a></li>
                    <li><a href="/contracts">Contracts</a></li>
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>

            </div>
        </div>
    </div>
</header>
