<section id="sidebar">
  <div class="inner">
    <a class="logo" href="/"><img src="/img/oneglobe.svg" alt="OneGlobe logo" /></a>
    <nav>
      <ul>
        <li><a href="#intro">Welcome</a></li>
        <li><a href="#one">About Us</a></li>
        <li><a href="#two">Capabilities</a></li>
        <li><a href="#three">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</section>
